name: Release

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler libudev-dev

      - name: Build
        run: cargo build --release --locked

      - name: Rename binary
        run: cp target/release/ardu-temp-bridge ardu-temp-bridge-x86_64

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ardu-temp-bridge-x86_64
            manifest.toml
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
